<!DOCTYPE html>
<html ng-app="topicGraphEditor" lang="en-US">
    <head>
        <title>Topic Graph Editor</title>
        <!-- Fonts -->
        <link href='//fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <!-- Scripts and Styles -->
        <link rel='stylesheet' type="text/css" href='/stylesheets/main.min.css'/>
        <script src="/javascripts/app.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div ui-view></div>
        </div>
    </body>
</html>
